{% extends "layout.html" %}
{% block content %}
 <!-- Main jumbotron for a primary marketing message or call to action -->
     

      <div class="container">
        <div class="row">
          <h1>Ajuda</h1>
        </div>
        <!-- Example row of columns -->
        <div class="row">
          <h2>Pre-matrícula</h2>
        </div>
        <div class="row">
          <p>Omple el formulari amb les teves dades i obtindràs un resguard de pagament. Quan facis efectiu el pagament podràs passar al següent pas, formalitzar la matricula amb l'entrega de la documentació.
          </p>
        </div>
        <div class="row">
          <h2>Matrícula</h2>
        </div>
        <div class="row">
          <p>Omple el formulari amb la documentació necessària per a formalitzar la matrícula. La documentació i el pagament seran validats per l'equip de secretaria i un cop tot estigui en ordre la teva matricula estarà completada.
          </p>
        </div>
        <div class="row">
          <h2>Estat de la matrícula</h2>
        </div>
        <div class="row">
          <p>Consulta l'estat de la teva matrícula.</p>
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock %}