{% extends "layout.html" %}
{% block content %}
 <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, Puig!</h1>
          <p>Aquest és el programa d'automatrícula del Puig. Si teniu dubtes sobre la seva utilització consulteu la secció ajuda.</p>
          <p><a class="btn btn-primary btn-lg" href="{{ path_for('help') }}" role="button">Ajuda &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Pre-matrícula</h2>
            <p>Omple el formulari amb les teves dades i obtindràs un resguard de pagament. Quan facis efectiu el pagament podràs passar al següent pas, formalitzar la matricula amb l'entrega de la documentació. </p>
            <p><a class="btn btn-secondary" href="{{ path_for('pre-enrollment') }}" role="button">Pre-matrícula &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Matrícula</h2>
            <p>Omple el formulari amb la documentació necessària per a formalitzar la matrícula. La documentació i el pagament seran validats per l'equip de secretaria i un cop tot estigui en ordre la teva matricula estarà completada. </p>
            <p><a class="btn btn-secondary" href="{{ path_for('enrollment') }}" role="button">Matrícula &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Estat de la matricula</h2>
            <p>Consulta l'estat de la teva matrícula.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Estat de la meva matrícula &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

{% endblock %}