{% extends "layout.html" %}
{% block content %}

<div class="container">

<h1>Pre-matrícula</h1>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Tens correu del centre?</h4>
      <h6 class="card-subtitle mb-2 text-muted">Recuperació de les teves dades.</h6>
      
      <a href="{{ path_for('pre-enrollment-old-student') }}" class="card-link">Tinc correu del centre</a>
      <a href="{{ path_for('pre-enrollment-new-student') }}" class="card-link">No tinc correu del centre</a>
    </div>
  </div>

</div> <!-- /container -->

{% endblock %}